.warp
    width: 238px
    border: 1px solid #e2e2e2
    border-top: none 
    ul 
        li
            border-top: 1px solid #e2e2e2
            height: 38px
            line-height: 38px
            a
                margin-left: 35px
        li:first-Child
            background: #e2e2e2
                
