.right
    float: right
    width: 900px
    margin-top: 15px
    .Title
        float: left
        width: 900px
        background: #e2e2e2
        margin-top: 15px
        border-left: 17px solid #e50012
        span
            padding-left: 15px
            color: #333333
    .itemsWarp
        margin-top: 4px
        float: left
        width: 100%
        .itemsContent
            background: url("../images/jxs_03.png") no-repeat 840px 17px
            width: 900px
            height: 86px
            border: 1px solid #e0d7d8
            position: relative
            .itemsTitle
                position: absolute
                top: 32px
                left: 127px
                font-size: 20px
                color: #e50012
                font-weight: bold
                b
                    position: absolute
                    left: -107px
                    background: url(../images/jxs_icon.jpg) no-repeat
                    width: 81px
                    height: 27px
                    display: block
                    top: -3px


            