.right
    float: right
    width: 900px
    margin-top: 15px
    .title
        float: left
        width: 900px
        border: 1px #E2E2E2 solid
        padding: 10px 20px
        font-size: 16px
        color: #E50012
    .word
        float: left
        width: 870px
        padding: 10px 15px
        font-size: 16px
    .phone
        float: left
        width: 900px
        border-bottom: 1px #E2E2E2 solid
        font-weight: bold
        margin-top: 15px
        span
            float: left
            border: 1px #E2E2E2 solid
            border-top: 2px #E50012 solid
            border-bottom: none
            padding: 10px 20px
            font-size: 12px
            color: #E50012
    .phoneContent
        float: left
        width: 100%
        .phoneImg
            float: left
            padding: 15px 5px
            width: 90px
        .phoneWord
            margin-left: 120px
            padding: 15px 0
            li
                float: left
                width: 300px
                padding-bottom: 5px
                font-size: 12px
                i
                    float: left
                    width: 75px
                    color: #999999
                    text-align: right
                    padding-right: 10px
                    font-style: normal
    .form
        float: left
        width: 900px
        padding: 20px
        .li
            float: left
            width: 100%
            margin-top: 20px
            position: relative
            .i
                float: left
                line-height: 40px
                font-family: "宋体"
                color: #E50012
                position: absolute
                left: 18px
            .span 
                float: left
                width: 96px
                height: 40px
                line-height: 40px
                color: #333333
                text-align: right
                padding-right: 10px
            .text
                    float: left
                    height: 38px
                    width: 300px
                    line-height: 38px
                    padding: 0 10px
                    margin-right: 10px
                    font-size: 13px
            div.tyc
                    font-size: 12px
                    text-align: left
                    margin-top: -20px
                    margin-left: 107px
            .textarea
                float left
                width: 300px