.n_nav_t 
    float: left
    width: 238px
    border: 1px #E2E2E2 solid
    text-align: center
    font-size: 16px
    line-height:40px

.n_nav_list
    float: left
    width: 238px
    border: 1px #E2E2E2 solid
    border-top: none
    line-height: 28px
    ul
        width: 100%
        li.on
            background: #E2E2E2
            width: 100%
            ul
                background: #fff
                li
                    a
                        margin-left: 35px

