.inner {
  width: 900px;
  float: right;
  margin-top: 15px;
}
.inner .left {
  float: left;
  width: 460px;
  height: 168px;
  background: #9e9e9e;
  color: #fff;
}
.inner .left h3 {
  width: 460px;
  padding: 10px 20px;
  font-size: 34px;
  font-weight: bold;
  color: #fff;
}
.inner .left span {
  font-size: 12px;
  width: 460px;
  padding: 10px 20px;
  display: flex;
}
.title {
  width: 900px;
  background: #e2e2e2;
  margin-top: 15px;
  border-left: 17px #e50012 solid;
}
.title span {
  padding-left: 15px;
  color: #333;
}
.details {
  width: 900px;
  margin-bottom: 10px;
}
.details .detailsHeader {
  height: 80px;
  width: 493px;
  margin: 0 auto;
}
.details .detailsHeader li {
  float: left;
  margin-left: 55px;
  height: 38px;
  margin-top: 21px;
}
.word {
  width: 100%;
  float: left;
}
.word ul li {
  float: left;
  width: 260px;
  margin: 20px 0 20px 30px;
  border-top: 2px solid #e50012;
}
.word ul li .price {
  width: 260px;
  border: 1px solid #dcdcdc;
  border-top: none;
  color: #e50012;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
}
.word ul li .content {
  width: 260px;
  border: 1px solid #dcdcdc;
  border-top: none;
  padding: 10px;
  height: 140px;
}
